@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

html {
	background-color: #150031;
}

body {
	--background-colour: #1e1e1e;
	--secondary-bg-colour: #353536;
	--accent-colour: #7821f1;
	--accent-colour-rgb: 120, 33, 241;
	color: white;
	background-color: var(--background-colour);
	font-family: "Roboto", sans-serif;
	padding: 0;
	margin: 0;
	overflow-x: hidden;
	height: 100vh; /*! REMOVE WHEN ADDING CONTENT TO MAIN PAGE FINALLY!!! DON'T FORGET!!!  */
}

nav {
	display: flex;
	justify-content: space-between;
	align-content: space-between;

	/* background: var(--background-colour); */
}

nav img {
	height: 75px;
	aspect-ratio: 3/1;
}

nav ul {
	margin: 0;
	padding: 0;
	width: min-content;
	list-style: none;
	display: flex;
	justify-content: baseline;
	margin-block: auto;
	align-items: baseline;
}

nav ul li {
	height: 50%;
	padding-inline: 2rem;
	padding-block: 0.5rem;
	margin-right: 0.5rem;
	transition-duration: 0.25s;
	border-radius: 1rem;
}

nav ul li:hover {
	cursor: pointer;
	background-color: rgba(var(--accent-colour-rgb), 0.8);
	transition-duration: 0.25s;
}

.title {
	text-align: center;
	padding: 1rem;
	margin-top: 5rem;
	border-radius: 0.5rem;
	margin-inline: auto;
	font-size: 32px;
	user-select: none;
}

.title h1 {
	margin: 0;
	margin-top: 1rem;
	text-decoration-line: underline;
	text-decoration-color: var(--accent-colour);
}

.title h2 {
	margin: 0;
}

.title img {
	width: 50%;
	margin-top: -2rem;
}

.material-symbols-outlined {
	color: var(--accent-colour);
	scale: 3;
	user-select: none;
}

.welcome {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	text-align: center;
	height: 70vh;
	margin-top: 15vh;
	/* background-color: red; */
}

.project_list {
	width: 95%;
	margin-inline: auto;
	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
}

.project_item {
	--item-width: 20vw;
	user-select: none;
	margin-top: 1rem;
	width: var(--item-width);
	background-color: var(--secondary-bg-colour);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border-bottom-left-radius: 0.5rem;
	border-bottom-right-radius: 0.5rem;
	transition-duration: 250ms;
}

.project_item:hover {
	cursor: pointer;
	transform: scale(110%);
	transition-duration: 250ms;
}

.item_image {
	width: var(--item-width);
	aspect-ratio: 16/9;
	margin: 0;
	object-fit: cover;
	object-position: top;
	overflow: hidden;
	pointer-events: none;
}

.item_title {
	margin: 0;
	font-size: 1.5rem;
	text-align: center;
}

@media screen and (max-width: 800px) {
	.project_item {
		--item-width: 40vw;
	}
	.item_title {
		font-size: 1rem;
	}
}

.hidden {
	opacity: 0;
	pointer-events: none;
}

.tags {
	display: flex;
}

.tag {
	text-align: center;
	border: 3px solid white;
	width: 75px;
	border-radius: 1rem;
	margin-left: 0.5rem;
	font-weight: 700;
	font-size: 13px;
}

.JS {
	color: #f7df1e;
	border-color: #f7df1e;
}

.HTML {
	color: #e44d25;
	border-color: #e44d25;
}

.CSS {
	color: #264de5;
	border-color: #264de5;
}

.C {
	color: #aabbce;
	border-color: #aabbce;
}

@media screen and (max-width: 1300px) {
	.tags {
		scale: 0.7;
	}
}

#background {
	background: linear-gradient(#000000, #150031);
}

::-webkit-scrollbar {
	width: 8px;
}

::-webkit-scrollbar-thumb {
	background-color: rgba(var(--accent-colour-rgb), 0.8);
	border-radius: 6px;
}

::-webkit-scrollbar-track {
	background-color: transparent;
}
