body {
	background-color: #161616;
	color: white;
	font-family: Arial, Helvetica, sans-serif;
	margin: 0;
	background: url("bg.jpg") center/cover no-repeat #222f35;
	overflow-y: hidden;
	position: relative;
	padding-top: 5rem;
}

body::before {
	content: "";
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.6);
	z-index: -1;
	width: 100vw;
	height: 100vh;
}

.container {
	display: flex;
	width: 100%;
	max-width: 400px;
	margin-inline: auto;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 1rem;
}

.wrapper {
	position: relative;
	background-color: rgba(0, 0, 0, 0.7);
	padding-block: 2rem;
	border-radius: 1rem;
	display: flex;
	flex-direction: column;
	text-align: center;
	justify-content: center;
	align-items: center;
	width: 100%;
	margin-inline: auto;
}

.wrapper > h1,
.wrapper > h2 {
	margin: 0;
}

.wrapper > h2 {
	font-size: 20px;
}

#download {
	text-align: center;
	width: max-content;
	background-color: #7821f1;
	padding: 1rem;
	border-radius: 0.5rem;
}

#download:hover {
	cursor: pointer;
}

.download {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
}

.download > h3,
.download > h2 {
	margin: 0;
}

.download > h3 {
	font-size: 14px;
	color: rgba(255, 255, 255, 0.5);
}

.information {
	all: inherit;
}

.information > div {
	background-color: rgba(0, 0, 0, 0.7);
	width: 100%;
	padding-block: 1rem;
	border-radius: 0.5rem;
}

.header {
	text-align: center;
	font-size: 30px;
	margin: 0;
}

.purchases > ul {
	width: max-content;
	margin-inline: auto;
	list-style: none;
	line-height: 1.1;
	padding: 0;
	margin-top: 0.25rem;
	text-align: center;
}

.purchases > ul > li {
	font-size: 16px;
}

.purchases > h2 {
	text-align: center;
	font-size: 18px;
}

.purchases > h2 > span {
	background-color: #323232;
	padding: 0.5rem;
	border-radius: 0.5rem;
	transition-duration: 250ms;
}

.purchases > h2 > span:hover {
	background-color: #7821f1;
	transition-duration: 250ms;
	cursor: pointer;
}

.btn {
	background-color: #323232;
	width: max-content;
	padding: 0.5rem 1rem;
	width: 80px;
	text-align: center;
	border-radius: 0.5rem;
	margin: 0;
	font-size: 18px;
	margin-inline: auto;
	row-gap: 1rem;
}

.btn.hidden {
	display: none;
	opacity: 0;
}

.btn:hover {
	transition-duration: 250ms;
	cursor: pointer;
	background-color: #7821f1;
}

.btns {
	margin-top: 0.25rem;
	display: flex;
	flex-wrap: wrap;
	gap: 0.5rem;
}

@media screen and (max-width: 350px) {
	.btn.hidden {
		display: block;
	}
}
