<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>StarDash</title>
		<link rel="stylesheet" href="style.css" />
	</head>
	<body>
		<div class="overlay">
			<div class="wrapper">
				<h1>StarDash</h1>
				<h2>Chastity experience from the stars</h2>
			</div>
			<div class="download">
				<h3>Latest version: 2.0.0</h3>
				<h2
					id="download"
					onclick="window.location.href='https://github.com/StarlightWT/Stardash/releases/download/2.0.0/stardash-Setup-2.0.0.exe';">
					Download
				</h2>
			</div>
		</div>
	</body>
</html>
